<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Khoa Pham</title>
    </head>
    <body>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="avatar"/>
            <br><br>
            <input type="text" name="title" placeholder="Enter image title"/>
            <br><br>
            <button>Upload</button>
        </form>
    </body>
</html>
